<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <div class="main-content"></div><body>{{>header}}
        <img class="portrait" src="/img/JBB.jpeg"></div>
        {{>footer}}
    </body>
    
</html>
